$horizontal-indent: 40px;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 72px;
  padding: 0 $horizontal-indent;
  color: rgb(130, 178, 132);
  border-bottom: 1px solid #E5E5E5;
}

.leftSection {
  display: flex;
  flex-direction: row;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48px;
  background-color: rgba(130, 178, 132, 1);
}

.navElement {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  cursor: pointer;
}

.navElement:hover {
  background-color: #98C88C;
}

.active {
  background-color: rgba(164, 199, 165, 1);
}

.menu {
  position: relative;
  width: 224px;
  background-color: rgba(247, 247, 247, 1);
}

.gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 21px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.072) 0%, rgba(255, 255, 255, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.logoPlace {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 87px;
  padding-top: 20px;
  text-align: center;
}

.title {
  font-weight: 700;
}

.subTitle {
  font-size: 0.75em;
}

.organizations {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  background-color: rgba(238, 238, 238, 1);
  color: #82B284;
  font-size: 0.875em;
}

.contentWrapper {
  flex-grow: 1;
}

.information {
  padding: 24px $horizontal-indent;
}

footer {
  height: 128px;
  width: 100%;
  text-align: center;
}