.wrapper {
  padding: 0 0 40px 0;
  border-bottom: 1px solid #E5E5E5;
}

.photosWrapper {
  margin: 20px 0 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.form {
  margin-bottom: 15px;
}

.modalActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}