@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Regular.woff');
}

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Proxima Nova';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2 {
  margin: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
